.App {
  text-align: center;
}

.search{
  font-size: 25px;
}

.results{
  height: 600px !important;
  overflow-y: scroll;
}

.results::-webkit-scrollbar {
  width: 8px;
}

.results::-webkit-scrollbar-thumb {
  background: #909090;
  border-radius: 8px;
}
.results::-webkit-scrollbar-track {
  background: #FFFFFF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
